<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="culinaryTech">
                <ng-container *ngIf="culinaryTech.id">Edit</ng-container>
                <ng-container *ngIf="!culinaryTech.id">Create</ng-container>
                Culinary Techniques
                <ng-container *ngIf="culinaryTech.id">'{{culinaryTech.culinaryTechniqueTitle}}</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>
        

            <ng-container *ngIf="culinaryTech">
                <form action="#" class="form form-label-right" [formGroup]="formGroup">

                <div class="form-group row">

                    <div class="form-group col-lg-12">
                        <label class="form-label">Culinary Technique Name</label>
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            name="culinaryTechniqueName" placeholder="Enter culinary Technique Name" autocomplete="off"
                            [class.is-invalid]="validationService?.isControlInvalid('culinaryTechniqueName')"
                            [class.is-valid]="validationService?.isControlValid('culinaryTechniqueName')"
                            formControlName="culinaryTechniqueName" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('culinaryTechniqueName')">
                            culinaryTechniqueName Name was entered correct</div>
                        <div class="invalid-feedback"
                            *ngIf="validationService?.controlHasError('required', 'culinaryTechniqueName')">Country Name
                            is required</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="form-label">Description</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="Description"
                            placeholder="Enter Description" autocomplete="off"
                            [class.is-invalid]="validationService?.isControlInvalid('description')"
                            [class.is-valid]="validationService?.isControlValid('description')" formControlName="description" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('description')">Description was entered
                            correct
                        </div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'description')">
                            Description is required</div>
                    </div>
                    <div *ngIf="!id" class="form-group col-lg-12">
                        <label>Language</label>
                        <select class="form-control form-control-lg form-control-solid" name="languageId" [class.is-invalid]="validationService?.isControlInvalid('languageId')" formControlName="languageId">
                            <option [value]="null" disabled>Select Language </option>
                            <option [value]="item.id" [disabled]="!item.is_enable"
                                *ngFor="let item of languageMaster">{{item.title}}</option>

                        </select>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'languageId')">Language is required
                        </div>
                    </div>
                  

                    <div class="form-group col-lg-12">
                        <label class="form-label">Kitchen Requirements</label>
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            name="kitchenRequirements" placeholder="Enter Kitchen Requirements" autocomplete="off"
                            [class.is-invalid]="validationService?.isControlInvalid('kitchenRequirements')"
                            [class.is-valid]="validationService?.isControlValid('kitchenRequirements')"
                            formControlName="kitchenRequirements" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('kitchenRequirements')">
                            Kitchen Requirements was entered correct</div>
                        <div class="invalid-feedback"
                            *ngIf="validationService?.controlHasError('required', 'kitchenRequirements')">Kitchen
                            Requirements is required</div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label class="form-label">Video or Animation Link</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="Video"
                            placeholder="Enter Video or Animation Link" autocomplete="off"
                            [class.is-invalid]="validationService?.isControlInvalid('video')"
                            [class.is-valid]="validationService?.isControlValid('video')" formControlName="video" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('video')">Video or animation link  was entered
                            correct
                        </div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'video')">
                            Video or animation link is required</div>
                    </div>              
                    <div class="form-group col-lg-12">
                        <label>Tool Requirements</label>
                        <app-ng-select-input [formName]="formGroup" [textField]="'toolTitle'" [idfield]="'id'" (onItemSelect)="selectTool($event)" (onSelectAllItem)="selectAllTool($event)"
                        (onDeSelectItem)="onDeselectTool($event)" [fieldControl]="'toolRequirements'" [dataList]="toolMaster"
                            [placeHolder]="'Select Tool Requirements'"></app-ng-select-input>
                        <div class="invalid-feedback"
                            *ngIf="validationService?.controlHasError('required', 'toolRequirements')">Tool Requirements
                            is required</div>
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Status</label>
                        <div class="radio-inline">
                            <label class="radio">
                                <input type="radio" name="status" [value]="true" formControlName="status" />
                                <span></span>
                                Active
                            </label>
                            <label class="radio">
                                <input type="radio" name="status" [value]="false" formControlName="status" />
                                <span></span>
                                Inactive
                            </label>

                        </div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'status')">
                            Status is required</div>
                    </div>


                </div>
            </form>
            </ng-container>      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container *ngIf="culinaryTech">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
                [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>