<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Tool list</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="create()">New Tool</button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <form class="col-lg-6 mb-5" [formGroup]="searchGroup">
                <div class="search-input">
                    <span
                      [inlineSVG]="'./assets/media/svg/icons/General/Search.svg'"
                      cacheSVG="true"
                      class="search-input__svg svg-icon svg-icon-md"
                    >
                    </span>
                    <input
                    formControlName="searchTerm"
                      class="form-control"
                      type="text"
                      placeholder="Search"
                    />
                  </div>
            </form>
            <div class="form form-label-right col-lg-6">
                <select class="form-control" placeholder="Filter by Language"
                    (change)="changeLanguage($event)">
                    <option [value]="null">All</option>
                    <option [value]="item.id" *ngFor="let item of languageMaster">{{item.title}}</option>
                </select>
            </div>
        </div>        
  
        <!-- begin: Filtration form -->
        <!-- <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div class="row" [formGroup]="filterGroup">
                        <div class="col-lg-6">
                            <select class="form-control" name="status" placeholder="Filter by Status" formControlName="status">
                  <option value="">All</option>
                  <option value="1">Susspended</option>
                  <option value="2">Active</option>
                  <option value="3">Pending</option>
                </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" placeholder="Filter by Type" name="type" formControlName="type">
                  <option value="">All</option>
                  <option value="1">Business</option>
                  <option value="2">Individual</option>
                </select><small class="form-text text-muted"><b>Filter</b> by Type</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" [formGroup]="searchGroup">
                    <input type="text" class="form-control" name="searchText" placeholder="Search" value="" formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
                </div>
            </div>
        </div> -->
        <!-- end: Filtration form -->

        <!-- begin: Grouping -->
        <ng-container *ngIf="grouping.getSelectedRowsCount()">
            <div class="form">
                <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
                    <div class="col-xl-12">
                        <div class="form-group form-group-inline">
                            <div class="form-label form-label-no-wrap">
                                <label class="font-bold font-danger"><span>Selected records count:
                                        <b>{{ grouping.getSelectedRowsCount() }}</b></span></label>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                                    (click)="deleteSelected()">
                                    <i class="fa fa-trash"></i> Delete All
                                </button>&nbsp;
                                <!-- <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1" (click)="fetchSelected()">
                    <i class="fa fa-stream"></i> Fetch Selected
                  </button>&nbsp; -->
                                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                                    (click)="updateStatusForSelected()">
                                    <i class="fa fa-sync-alt"></i> Update Status
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- end: Grouping -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <!--    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                  [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
                    </th> -->
                    <th>
                        ID
                        <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                            (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>
                        NAME
                        <app-sort-icon column="name" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>                 
                    <th>
                        STATUS
                        <app-sort-icon column="type" [activeColumn]="sorting.column"
                            [activeDirection]="sorting.direction" (sort)="sort($event)"></app-sort-icon>
                    </th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tool of toolService.items$ | async;let i=index">
                        <td>{{  (paginator.page-1)*paginator.pageSize +i+1}}</td>
                        <td>{{ tool.toolTitle }}</td>
                        <td>
                            <span class="label label-lg label-inline" [class.label-light-success]="tool.status === true"
                                [class.label-light-danger]="tool.status === false">
                                <ng-container *ngIf="tool.status === true">Active</ng-container>
                                <ng-container *ngIf="tool.status === false">Inactive</ng-container>
                            </span>
                        </td>

                        <td>

                            <a title="Edit Tool" class="btn btn-icon btn-light btn-hover-primary btn-md mr-2 pt-2 icon-label"
                                (click)="edit(tool.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                                <span>Edit</span>
                            </a>

                            <a title="Delete Tool" class="btn btn-icon btn-light btn-hover-danger btn-md mr-2 pt-2 icon-label"
                                (click)="delete(tool.id)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                                <span>Delete</span>
                            </a>
                            <a title="Add Tool" class="btn btn-icon btn-light btn-hover-warning btn-md pt-2 icon-label"
                                (click)="addTool(tool)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Code/Plus.svg'" cacheSVG="true"
                                    class="svg-icon svg-icon-md svg-icon-warning">
                                </span>
                                <span>Add</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
            [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>