<div id="upload_button">
    <label>
        <input #fileInput type="file"  (click)="fileInput.value = null" (change)="uploadImage($event)" value="" [multiple]="multiple" [disabled]="isDisabled">
        <ng-container *ngIf="moreImage">
            <span class="btn btn-success"> Upload Image </span>
        </ng-container>
    </label>
</div>
<div *ngIf="imageData?.length>0" class="col-lg-9">
    <div *ngFor="let url of imageData;" class="image-input image-input-empty image-input-outline"
        id="kt_image_5">
        <div style="margin-right: 10px;" class="image-input-wrapper">
            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow cross-button" (click)="removeImage(url)">
                <i class="fa fa-times icon-sm text-muted"></i></label>
               <img class="image-wrapper" [src]="url.image" />
        </div>
    </div>
</div>