<div class="modal-content">
    <div class="modal-header">
        <div class="modal-topic h4" id="example-modal-sizes-topic-lg">
            <ng-container *ngIf="discussionForum">
                <ng-container *ngIf="discussionForum.id">Edit</ng-container>
                <ng-container *ngIf="!discussionForum.id">Create</ng-container>
                Discussion Forum
                <ng-container *ngIf="discussionForum.id">'{{discussionForum.topic}}</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="discussionForum">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="form-group col-lg-12">
                        <label class="form-label">Topic</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="topic"
                            placeholder="Enter topic" autocomplete="off"
                            [class.is-invalid]="validationService.isControlInvalid('topic')"
                            [class.is-valid]="validationService.isControlValid('topic')" formControlName="topic" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('topic')">Topic was entered
                            correct</div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'topic')">
                            Topic is required</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="form-label">Description</label>
                        <textarea type="text" class="form-control form-control-lg form-control-solid" name="description"
                            placeholder="Enter Description" autocomplete="off"
                            [class.is-invalid]="validationService.isControlInvalid('description')"
                            [class.is-valid]="validationService.isControlValid('description')"
                            formControlName="description"></textarea>
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('description')">Description
                            was entered correct</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="isPinned" checked="isPinned" name="isPinned" />
                                <span></span>
                                Pinned
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-inline">
                        <label class="radio">
                            <input type="radio" name="status" [value]="true" formControlName="status" />
                            <span></span>
                            Active
                        </label>
                        <label class="radio">
                            <input type="radio" name="status" [value]="false" formControlName="status" />
                            <span></span>
                            Inactive
                        </label>

                    </div>
                    <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'status')">
                        Status is required</div>
                </div>


            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container *ngIf="discussionForum">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
                [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>