<div>
    <form action="#" [formGroup]="formGroup">
        <div class="row">
            <div class="form-group col-lg-6">
                <label class="form-label"></label>
                <textarea type="text" class="form-control form-control-lg form-control-solid" name="question"
                    placeholder="Enter Question" autocomplete="off"
                    [class.is-invalid]="validationService.isControlInvalid('question')"
                    [class.is-valid]="validationService.isControlValid('question')"
                    formControlName="question"></textarea>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'question')">
                    Question is required
                </div>
            </div>
            <div class="col-lg-6">
                    <label></label>
                    <app-ng-select-input [formName]="formGroup" [textField]="'standardTitle'" [idfield]="'id'"
                            [fieldControl]="'standard'"
                            [dataList]="standardMaster" [placeHolder]="'Select Standard'"></app-ng-select-input>
                    <div class="invalid-feedback"
                        *ngIf="validationService?.controlHasError('required', 'standard')">Standard required</div>
                
            </div>
            <div class="form-group col-lg-6">
                <label class="form-label"></label>
                <input type="text" class="form-control form-control-lg form-control-solid" name="hint" (keyup)="changeHint($event)"
                    placeholder="Enter Hint" autocomplete="off"
                    [class.is-invalid]="validationService.isControlInvalid('hint')"
                    [class.is-valid]="validationService.isControlValid('hint')"
                    formControlName="hint" >
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'hint')">
                    Question is required
                </div>
            </div>
           
            <div class="col-lg-6">
                <label style="padding-right: 14px;">OR</label> 
                <label class="form-label" > Match Image: </label>
                <app-upload-button [multiple]="false" [moreImage]="true" (onUpload)="uploadPairImage()" [isDisabled]="isUploadDisabled"></app-upload-button>
            </div>
        
        <ng-container formArrayName="answers">
            <div class="col-lg-12">
                <div class="row" *ngIf="answers().controls.length>0">
                    <div class="col-lg-3" *ngFor="let items of answers().controls; let i=index " [formGroupName]="i">
                        <div class="form-group">
                            <span class="float-right btn btn-xs btn-light-danger btn-icon ml-2 " (click)="removeQuantity(i)"><i
                                    class="ki ki-minus icon-xs "></i></span>
                            <div class="input-group-append">
                                <div id="upload_button">
                                    <label>
                                        <input type="file" (change)="uploadImage($event,items)">
                                        <span class="btn btn-success"> Upload Image </span>
                                    </label>
                                </div>
                            </div>
                            <input type="text" name="{{i}}" formControlName="option" class="form-control"
                                aria-label="Text input with radio"
                                [class.is-invalid]="items.controls['option'].invalid && (items.controls['option'].dirty || items.controls['option'].touched) "
                                [class.is-valid]="items.controls['option'].valid && (items.controls[ 'option'].dirty || items.controls[ 'option'].touched) " />
                        </div>
        
                    </div>
                    <div style="margin-top: 43px !important;" class="plusIcon" *ngIf="answers().controls.length !== 4">
                        <span class="float-right btn btn-success" (click)="addAnswers(undefined)"><i
                                class="ki ki-plus icon-xs "></i></span>
                        <span class="float-right danger" *ngIf="answers().controls.length === 4">
                            You can add option max up to 4.
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>
       
    </div>  
        <div class="form-group row">
            <div class="col-lg-12 float-right">
               
                <span class="float-right btn btn-success" (click)="add()"><i
                        class="ki ki-plus icon-xs "></i>Add</span>
            </div>
        </div>
    </form>

</div>

<div class="separator separator-solid my-10"></div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngIf="questionData?.length==0">No questions available</tr>
            <tr *ngFor="let item of questionData">
                <td>{{item.question}}</td>
                <td >
                    <a title="Edit question" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                        (click)="edit(item)">
                        <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-primary">
                        </span>
                    </a>

                    <a title="Delete question" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                        (click)="delete(item)">
                        <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                            class="svg-icon svg-icon-md svg-icon-danger">
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>