<div class="mt-5">

    <ng-container *ngIf="isLoading$ | async">
        <div class="progress progress-modal">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </ng-container>
    
    <div class="form-group col-lg-6">
        <label class="form-label">Estimated Time for Assessment (In Minutes)</label>
        <input type="number" class="form-control form-control-lg form-control-solid" id="estimatedTime" name="estimatedTime"
            placeholder="Enter Estimated Time" autocomplete="off"  [(ngModel)]="estimatedTime">
    </div>
    <div class="separator separator-solid my-10"></div>

    <form class="form form-label-right" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="add()">
        <div class="row">
            <div class="form-group col-lg-12">
                <label class="form-label">Question</label>
                <textarea type="text" class="form-control form-control-lg form-control-solid" name="question"
                    placeholder="Enter Question" autocomplete="off"
                    [class.is-invalid]="validationService.isControlInvalid('question')"
                    [class.is-valid]="validationService.isControlValid('question')"
                    formControlName="question"></textarea>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'question')">
                    Question is required
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label>Question Type</label>
                <select class="form-control form-control-lg form-control-solid" placeholder="Select Question Type"
                    name="questionTypeId" formControlName="questionTypeId">
                    <option [value]="null" disabled>Select Question Type </option>
                    <option [value]="type.id" *ngFor="let type of questionTypeMaster">{{type.title}} </option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>Answer Type</label>
                <select class="form-control form-control-lg form-control-solid" placeholder="Select Answer Type"
                    name="answerTypeId" formControlName="answerTypeId" (change)="changeAnswerType($event.target.value)">
                    <option [value]="null" disabled>Select Answer Type </option>
                    <option [value]="type.id" *ngFor="let type of answerTypeMaster">{{type.title}} </option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label>Common Core ELA Standards</label>
                <app-ng-select-input [formName]="formGroup" [fieldControl]="'elaStandard'" [dataList]="elaStandards" [idfield]="'id'" [textField]="'standardTitle'" [placeHolder]="'Select Standards'">
                </app-ng-select-input>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'elaStandard')">
                    Standards is required
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label>Common Core Math Standards</label>
                <app-ng-select-input [formName]="formGroup" [fieldControl]="'mathStandard'" [dataList]="mathStandards" [idfield]="'id'" [textField]="'standardTitle'" [placeHolder]="'Select Standards'">
                </app-ng-select-input>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'mathStandard')">
                    Standards is required
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label>New Generation Science Standards</label>
                <app-ng-select-input [formName]="formGroup" [fieldControl]="'ngssStandard'" [dataList]="ngssStandards" [idfield]="'id'" [textField]="'standardTitle'" [placeHolder]="'Select Standards'">
                </app-ng-select-input>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'ngssStandard')">
                    Standards is required
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label>National Curriculum Standards for Social Studies</label>
                <app-ng-select-input [formName]="formGroup" [fieldControl]="'ncssStandard'" [dataList]="ncssStandards" [idfield]="'id'" [textField]="'standardTitle'" [placeHolder]="'Select Standards'">
                </app-ng-select-input>
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'ncssStandard')">
                    Standards is required
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="form-group" *ngIf="!formGroup.controls['questionTrack'].value" id="upload_button">
                    <label>
                        <input type="file" accept="audio/mp3,audio/aac" class="form-control"
                            (change)="uploadTrack($event,'questionTrack')">
                        <span class="btn btn-success">Upload Voicehover for Question (.MP3/.aac) </span>
                    </label>
                </div>
                <div class="form-group row ml-5" *ngIf="formGroup.controls['questionTrack'].value">
                    <audio controls>
                        <source [src]="formGroup.controls['questionTrack'].value" type="audio/mp3">
                    </audio>
                    <label (click)="removeTrack('questionTrack')"
                    class="btn btn-md btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow ml-2">
                        <i class="fa fa-times icon-md text-muted"></i>
                    </label>
                    
                </div>
            </div>
            <!-- <div class="form-group col-lg-6">
                <label class="form-label">Estimated Time (In Minutes)</label>
                <input type="number" class="form-control form-control-lg form-control-solid" name="estimatedTime"
                    placeholder="Enter Estimated Time" autocomplete="off"
                    [class.is-invalid]="validationService.isControlInvalid('estimatedTime')"
                    [class.is-valid]="validationService.isControlValid('estimatedTime')"
                    formControlName="estimatedTime">
                <div class="invalid-feedback"
                    *ngIf="validationService?.controlHasError('required', 'estimatedTime')">
                    Estimate time is required
                </div>
            </div> -->
            <div class="form-group col-lg-6">
                <label class="form-label">Hint</label>
                <input type="text" class="form-control form-control-lg form-control-solid" name="hint"
                    (keyup)="changeHint($event)" placeholder="Enter Hint" autocomplete="off"
                    [class.is-invalid]="validationService.isControlInvalid('hint')"
                    [class.is-valid]="validationService.isControlValid('hint')" formControlName="hint">
                <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'hint')">
                    Hint is required
                </div>
            </div>

            <div class="form-group col-lg-6">
                <label style="padding-right: 14px;">OR</label>
                <label class="form-label"> Match Image: </label>
                <app-upload-button [multiple]="false" [moreImage]="true" (onUpload)="uploadPairImage($event)"
                    [isDisabled]="isUploadDisabled"></app-upload-button>
            </div>
            <div class="form-group col-lg-12">
                <label *ngIf="answerType && answerType!=4 && answerType!=5" class="form-label">Add Answer Options( Mark correct by clicking in the middle of the circle) :</label>
            </div> 
            <ng-container *ngIf="answerType==2">
                <div class="col-lg-12" formArrayName="answers">
                    <div class="row" *ngIf="answers().controls.length>0">
                        <div class="col-lg-3" *ngFor="let items of answers().controls; let i=index "
                            [formGroupName]="i">
                            <div class="form-group">
                                <span class="float-right btn btn-xs btn-light-danger btn-icon ml-2 "
                                    (click)="removeQuantity(i)"><i class="ki ki-minus icon-xs "></i></span>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label class="radio radio-single">
                                                <input type="radio" [value]="true" formControlName="isAnswer" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" name="{{i}}" formControlName="option" class="form-control"
                                        aria-label="Text input with radio"
                                        [class.is-invalid]="items.controls['option'].invalid && (items.controls['option'].dirty || items.controls['option'].touched) "
                                        [class.is-valid]="items.controls['option'].valid && (items.controls[ 'option'].dirty || items.controls[ 'option'].touched) " />
                                </div>
                            </div>

                        </div>
                        <div class="plusIcon" *ngIf="answers().controls.length !== 6">
                            <span class="float-right btn btn-success" (click)="addAnswers(undefined)"><i
                                    class="ki ki-plus icon-xs "></i></span>
                            <span class="float-right danger" *ngIf="answers().controls.length === 6">
                                You can add options max up to 6
                            </span>
                        </div>
                    </div>
                </div>

            </ng-container>
            <ng-container *ngIf="answerType==3">
                <div class="col-lg-12" formArrayName="answers">
                    <div class="row" *ngIf="answers().controls.length>0">
                        <div class="col-lg-3" *ngFor="let items of answers().controls; let i=index "
                            [formGroupName]="i">
                            <div class="form-group">
                            <span class="float-right btn btn-xs btn-light-danger btn-icon ml-2 "
                                (click)="removeQuantity(i)"><i class="ki ki-minus icon-xs "></i></span>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <label class="checkbox checkbox-inline">
                                                <input type="checkbox" [value]="true" formControlName="isAnswer"
                                                    checked />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                    <input type="text" name="{{i}}" formControlName="option" class="form-control"
                                        aria-label="Text input with radio"
                                        [class.is-invalid]="items.controls['option'].invalid && (items.controls['option'].dirty || items.controls['option'].touched) "
                                        [class.is-valid]="items.controls['option'].valid && (items.controls[ 'option'].dirty || items.controls[ 'option'].touched) " />
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="plusIcon" *ngIf="answers().controls.length !== 6">
                            <span class="float-right btn btn-success" (click)="addAnswers(undefined)"><i
                                    class="ki ki-plus icon-xs "></i></span>
                            <span class="float-right danger" *ngIf="answers().controls.length === 6">
                                You can add option max up to 6.
                            </span>
                        </div>
                    </div>
                </div>

            </ng-container>
            <ng-container *ngIf="answerType==4">
                <div class="form-group col-lg-12">
                    <p class="font-weight-normal font-size-lg pb-7">
                        Note: Student will be shown text area for answering
                    </p>
                </div>
            </ng-container>
            <ng-container *ngIf="answerType==5">
                <div class="col-lg-12" formArrayName="answers">
                    <div class="row" *ngIf="answers().controls.length>0">
                        <div class="col-lg-3" *ngFor="let items of answers().controls; let i=index "
                            [formGroupName]="i">
                            <div class="form-group">
                                <span class="float-right btn btn-xs btn-light-danger btn-icon ml-2 "
                                    (click)="removeQuantity(i)"><i class="ki ki-minus icon-xs "></i></span>
                                    <div class="form-group">

                                    <div class="input-group-append">
                                    <div id="upload_button">
                                        <label>
                                            <input type="file">
                                            <span class="btn btn-success"> Upload Image </span>
                                        </label>
                                    </div>
                                </div>
                                <input type="text" name="{{i}}" formControlName="option" class="form-control"
                                    aria-label="Text input with radio"
                                    [class.is-invalid]="items.controls['option'].invalid && (items.controls['option'].dirty || items.controls['option'].touched) "
                                    [class.is-valid]="items.controls['option'].valid && (items.controls[ 'option'].dirty || items.controls[ 'option'].touched) " />
                            </div>                        </div></div>
                        <div style="margin-top: 73px;" class="plusIcon"
                            *ngIf="answers().controls.length !== 6">
                            <span class="float-right btn btn-success" (click)="addAnswers(undefined)"><i
                                    class="ki ki-plus icon-xs "></i></span>
                            <span class="float-right danger" *ngIf="answers().controls.length === 6">
                                You can add option max up to 6.
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="form-group">
                <div class="col-lg-12 ">
                    <button class="btn btn-primary" type="submit" [disabled]="formGroup.invalid">Add Question</button>
                </div>
            </div>
        </div>
    </form>
    <div class="separator separator-solid my-10"></div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>QUESTION</th>
                    <th>QUESTION TYPE</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngIf="questionData?.length==0">No questions available</tr>
                <tr *ngFor="let item of questionData;let i=index">
                    <td>{{item.question}}</td>
                    <td>{{item.question_type.title}}</td>
                    <td>
                        <a title="Edit question" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                            (click)="loadQuestion(item,i)">
                            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                        </a>

                        <a title="Delete question" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                            (click)="delete(i)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                class="svg-icon svg-icon-md svg-icon-danger">
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="float-right ">
        <a class="btn btn-default font-weight-bold mr-2 " routerLink="/manage-lessons/ ">Cancel</a>
        <a class="btn btn-default font-weight-bold mr-2 " (click)="changeTab(previousStepName)">Previous</a>
        <button class="btn btn-primary font-weight-bold mr-2 " (click)="onSave()" [disabled]="questionData.length==0">Save &
            Next</button>
    </div>
</div>