<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="healthHygiene">
                <ng-container *ngIf="healthHygiene.id">Edit</ng-container>
                <ng-container *ngIf="!healthHygiene.id">Create</ng-container>
                Health Hygiene
                <ng-container *ngIf="healthHygiene.id">{{healthHygiene.question}}</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="healthHygiene">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="form-group col-lg-12">
                        <label class="form-label">Question</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="question" placeholder="Enter question" autocomplete="off" [class.is-invalid]="validationService.isControlInvalid('question')" [class.is-valid]="validationService.isControlValid('question')"
                            formControlName="question" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('question')">Question was entered correct</div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'question')">Question is required</div>
                    </div>

                  

                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-inline">
                        <label class="radio">
                            <input type="radio" name="status" [value]="true" formControlName="status"/>
                            <span></span>
                           Active
                        </label>
                        <label class="radio">
                            <input type="radio" name="status" [value]="false" formControlName="status"/>
                            <span></span>
                            Inactive
                        </label>

                    </div>
                    <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'status')">Status is required</div>
                </div>


            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container *ngIf="healthHygiene">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>