<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="standard">
                <ng-container *ngIf="standard.id">Edit</ng-container>
                <ng-container *ngIf="!standard.id">Create</ng-container>
                Standard
                <ng-container *ngIf="standard.id">'{{standard.standardTitle}}</ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="standard">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row">
                    <div class="form-group col-lg-12">
                        <label class="form-label">Standard Title</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="standardTitle" placeholder="Enter Standard title" autocomplete="off" [class.is-invalid]="validationService.isControlInvalid('standardTitle')" [class.is-valid]="validationService.isControlValid('standardTitle')"
                            formControlName="standardTitle" />
                        <div class="valid-feedback" *ngIf="validationService?.isControlValid('standardTitle')">Standard title was entered correct</div>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'standardTitle')">Standard title is required</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Select Grade</label>
                        <select class="form-control form-control-lg form-control-solid" name="grade" [class.is-invalid]="validationService?.isControlInvalid('grade')" formControlName="grade">
                            <option [value]="null" disabled>Select Grade </option>
                            <option  [value]="grade.id" *ngFor="let grade of gradeMaster"  >{{grade.grade}}</option>
                         </select>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'grade')">Grade is required</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Select Subject</label>
                        <select class="form-control form-control-lg form-control-solid" name="subject" (change)="changeSubject($event.target.value)" [class.is-invalid]="validationService?.isControlInvalid('subject')" formControlName="subject">
                            <option [value]="null" disabled>Select Subject </option>
                            <option  [value]="subject.id" *ngFor="let subject of subjectMaster"  >{{subject.subjectTitle}}</option>
                         </select>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'subject')">Subject is required</div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Select Skill</label>
                        <app-ng-select-input [formName]="formGroup" [textField]="'skillTitle'" [idfield]="'id'"
                                [fieldControl]="'skill'"
                                [dataList]="skillMaster" [placeHolder]="'Select Skill'"></app-ng-select-input>
                        <div class="invalid-feedback"
                            *ngIf="validationService?.controlHasError('required', 'skill')">Skills required</div>
                    
                        </div>
                    <div *ngIf="!id" class="form-group col-lg-12">
                        <label>Select Language</label>
                        <select class="form-control form-control-lg form-control-solid" name="languageId" [class.is-invalid]="validationService?.isControlInvalid('languageId')" formControlName="languageId">
                            <option [value]="null" disabled>Select Language </option>
                            <option [value]="item.id" [disabled]="!item.is_enable"
                                *ngFor="let item of languageMaster">{{item.title}}</option>

                        </select>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'languageId')">Language is required
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="form-label">Standard Image: </label>
                        
                        <app-upload-button [multiple]="false" [moreImage]="moreStandardImage" [imageData]="standardImages" (onUpload)="uploadStandardImage($event)" (onRemove)="removeStandardImage($event)"></app-upload-button>
                        <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'image')" >
                           Standard Image is required</div>
                    </div>

                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-inline">
                        <label class="radio">
                            <input type="radio" name="status" [value]="true" formControlName="status"/>
                            <span></span>
                           Active
                        </label>
                        <label class="radio">
                            <input type="radio" name="status" [value]="false" formControlName="status"/>
                            <span></span>
                            Inactive
                        </label>

                    </div>
                    <div class="invalid-feedback" *ngIf="validationService?.controlHasError('required', 'status')">Status is required</div>
                </div>


            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <ng-container *ngIf="standard">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Save</button>
        </ng-container>
    </div>
</div>